* {
	box-sizing: border-box;
	/*border: 1px solid black;*/
	margin: 0;
	padding: 0;
}

a {
}

footer {
	grid-row: 0/-1;
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
}

header {
	grid-row: 1/2;
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	grid-gap: 40px;
}

h1 {
	grid-column: 2/-1;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h2 {
	display: flex;
	justify-content: center;
	text-decoration: underline;
}

h3 {
	display: flex;
	justify-content: center;
	align-items: center;
}

h4 {
	display: flex;

}

h5 {
	display: flex;
	align-items: center;
}

li {
	display: flex;
	justify-content: center;
}

nav {

}

.about__me {
	grid-column: 1/-1;
}

.bio {
	grid-column: 1/-1;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contact__info {
	grid-column: 1/-1;
	display: flex;
	justify-content: space-around;
}

.container {
	display: grid;
	grid-template-rows: 80px 80% 20%;
	grid-template-columns: 2fr 8fr;
}

.links {
	display: flex;
	justify-content: space-around;
	display: flex;
	justify-content: center;
}

.photo {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
}

.projects {
	grid-column: 1/-1;
}

.skills {
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
}

.subProjects {
	display: flex;
}

.subSkills {
	display: flex;
	justify-content: space-around;
	align-items: space-around;
	margin-top: 20px;
}
