a {
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;
	color: lightgray;
	background-color: black;
}

a:hover {
	color:darkgray;
}

body {
	background-color: black;
}

footer {
	background-color: black;
	color: lightgray;
}

header {
	background-color: black;
	font-size: large;
	color: lightgray;
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

h1 {
	font-family: "georgia";
	font-weight: bold;
	font-size: 400%;
	background-color: black;
	color: lightgray;
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

h3 {
	background-color: black;
	color: lightgray;
	margin-bottom: 30px;
}

h4 {
	color: lightgray;
}

li {
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;
	color: lightgray;
	background-color: black;
}

nav {
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

p {
	font-size: x-large;
	display: flex;
	justify-content: space-around;
	color: lightgray;
}

.bio {
	background-color: black;
	padding: 15px;
}

.bio__border {
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

.bottom__border {
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

.contact__info {
	color: lightgray;
	background-color: black;
	font-size: x-large;
}

.links {
	background-color: black;
	font-size: x-large;
	color: lightgray;
}

.photo {
	background-color: black;
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin-top: 30px;
	margin: 10px;
}

.projects {
	background-color: black;
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

.skills {
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

.subProjects {
	background-color: black;
}

.subSkills {
	font-size: x-large;
	font-weight: bold;
	color: lightgray;
	background-color: black;
}

#about__me {
	border-style: inset;
	border-radius: 12px;
	border-color: gray;
	margin: 10px;
}

#built__with {
	background-color: black;
}

#follow__me {
	font-size: x-large;
	font-weight: bold;
	color: lightgray;
	background-color: black;
	margin-right: 15px;
}

#subSubProject1 {
	background-color: black;
	color: lightgray;
	margin-left: 60px;
}
#subSubProject2 {
	background-color: black;
	color: lightgray;
}

#subSubProject3 {
	background-color: black;
	color: lightgray;
}