body {
	background-color: gray;
}

footer {
	background-color: gray;
	border: 1px solid black;
}

header {
	background-image: url("../images/header1.jpg");
	font-size: large;
	color: lightgray;
}

h1 {
	font-family: "georgia";
	font-weight: bold;
	font-size: 300%;
	background-image: url("../images/background.jpg");
	border: 1px solid black;
}

h2 {
	background-color: lightgray;
}

h3 {
	background-image: url("../images/header1.jpg");
	color: lightgray;
}

li {
	text-decoration: none;
	font-size: x-large;
	font-weight: bold;
	color: black;
	background-color: gray;
	border: 1px solid black
}

nav {
	border: 1px solid black
}

p {
	font-size: xx-large;
	display: flex;
	justify-content: space-around;
}

.bio {
	background-color: gray;
	border: 1px solid black;
	padding: 15px;
}

.contact__info {
	color: black;
	background-color: gray;
	font-size: x-large;
	border: 1px solid black;
}

.links {
	background-color: gray;
	font-size: x-large;
	border: 1px solid black;
}

.photo {
	background-color: lightgray;
	border: 1px solid black;
	background-image: url("../images/background.jpg");
}

.projects {
	background-image: url("../images/background.jpg");
}

.skills {
	border: 1px solid black;
}

.subSkills {
	font-size: x-large;
	font-weight: bold;
	color: black;
	background-color: gray;

}

#follow__me {
	font-size: x-large;
	font-weight: bold;
	color: black;
	background-color: gray;
	margin-right: 15px;
}
